.app-header{
  top: 0px !important;
  background-color: black ;
  height: 100vh;
  width: 20%;
  color: white;
  font-size: 30px;
}

.content{
  background-color: white;
  width: 80%;
  height: 100vh;
  
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;  
  height: 91vh;
  background-image: url('./media/back2.jpg');
  background-size: cover;
  color: white;
  opacity: 0.8;

}
@media only screen and (max-width: 500px) {
  .home {
    background-image: url('./media/my-profile-mobile.jpeg');
    opacity: 0.6;
    font-size: 200px;
  }
}
.home-content h1{
  font-size: 90px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 90%;
  background: linear-gradient(
            to right, seagreen, skyblue,
             white, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
.explore-button{
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  float:right;
  background-color: black;
  color: white;
  margin-top: -10px;
}

/* .education{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.education-content{
  display: flex;
  justify-content: center;
  align-items: center;

}

.school-box{
  text-align: center;
  background-color: whitesmoke;
  width: 300px;
  height: 380px;
  margin: 20px;
  border: 2px solid black;
}

.img{
  background-size: cover;
  height: auto;
  width: 295px;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content{
  
}
/* .duals{
  background-color: transparent;
  height: 440px;
  width: 400px;
  margin: 0px;
} */
.strips{
  background-color: skyblue;
  color: white;
  width: auto;
  height: 84px;
  box-shadow: 5px 10px black;
  margin: 20px;
}
.strips a{
  color: white;
  cursor: pointer;
  text-decoration: none;

}

.strips:hover{
  background-color: grey;
}

.form{
  background-color: skyblue;
  color: white;
  width: auto;
  height: 90%;
  margin: 20px;
  padding: 2px;
  box-shadow: 4px 8px black;
}
.input{
  width: 98%;
  height: 30px;
}

textarea{
  width: 98.5%;
}
.seperator{
  margin: 20px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
